.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
*.lock
src/test.erl
*.txt
*.elog
*.ets
*.beam
src/sender.erl
/GUI/testing_socket.py
gs_pc/Mnesia.*
gui_pc/Mnesia.*
gs_pc/gs_args.args
